<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>黑雨的博客</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/evenFlow.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/javascripts/album.js"></script>
    <script type="text/javascript" src="/utils/util.js"></script>

</head>
<body>
    <div id="maxH" style="width: 1000px;margin: 0 auto">
    <div class="row title" id="dr-title" style="height: 324px">
        <div id="dr-navigation" style="height: 100%;padding: 20px 0">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav nav-list">
                            <li class="evenflow_scale nav_index"><a href="/">首页</a></li>
                            <li class="evenflow_scale nav_blog"><a href="/blogs">日志</a></li>
                            <li class="active evenflow_scale nav_album"><a href="/albums">相册</a></li>
                            <li class="evenflow_scale nav_music"><a href="/music">音乐</a></li>
                            <li class="evenflow_scale nav_message"><a href="/message">留言板</a></li>
                            <li class="evenflow_scale nav_acg"><a href="/ace">二次元</a></li>
                            <li class="evenflow_scale nav_me"><a href="/me">关于我</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <img src="/images/blackHole_1.jpg" style="height: 30px;width: 100%"/>

    <div  class="row main" id="dr-main">
        <div class="mode_gb" style="width: 100%">
            <div class="mod-title">
                <div class="mod-tab-list">
                    <ul>
                        <li><a class="wrap selected" href="/albums">相册</a></li>
                        <li hidden="hidden" id="createAlbum"><a class="wrap" id="creatAlbum" href="javascript:void(0);" onclick="createAlbum()">相册创建</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dr-albums">
        </div>
    </div>
    <div id="dr-foot">

    </div>
</div>
    <div class="modal fade" id="createAlbumModal">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <div class="pop_create_album" style="height: auto;overflow: hidden;">
                        <p>
                            <span class="form_name"><label for="album_name">相册名称：</label></span>
                            <input id="album_name" name="album_name" class="int_txt"  maxlength="30" type="text"/>
                            <span class="count_txt"><span id="name_word">0</span>/30</span>
                        </p>
                        <p>
                            <span class="form_name">
                                <label for="album_desc">相册描述：</label>
                            </span>
                            <textarea id="album_desc" name="album_desc" class="area_txt" style="font-size:12px;"></textarea>
                            <span class="count_txt"><span id="desc_word">0</span>/2000</span>
                        </p>
                        <p>
                            <span class="form_name"><label for="album_type">分类：</label></span>
                            <span id="cs_sel">
                                <select id="album_type" name="album_type">
                                    <option value="love">最爱</option>
                                    <option value="character">人物</option>
                                    <option value="scenery">风景</option>
                                    <option value="animal">动物</option>
                                    <option value="travels">游记</option>
                                    <option value="animation">动漫</option>
                                    <option value="life">生活</option>
                                    <option value="other">其他</option>
                                </select>
                            </span>
                        </p>
                        <p>
                            <span class="form_name">
                                <label for="album_desc">相册上传：</label>
                            </span>
                            <span>
                                <form id="album_form" action="/albums/upload" method="post" enctype="multipart/form-data">
                                    <input id="album_file" type="file" name="file" multiple="multiple" accept="image/jpg,image/jpeg,image/png,image/gif"/>
                                </form>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="del_url"/>
                    <button type="button" class="btn btn-success" onclick="addNewAlbum()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>