<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>黑雨的博客</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/evenFlow.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/javascripts/music.js"></script>
</head>
<body>
<div style="width: 1000px;margin: 0 auto">
    <div class="row title" id="dr-title" style="height: 324px">
        <div id="dr-navigation" style="height: 100%;padding: 20px 0">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav nav-list">
                            <li class="evenflow_scale nav_index"><a href="/">首页</a></li>
                            <li class="evenflow_scale nav_blog"><a href="/blogs">日志</a></li>
                            <li class="evenflow_scale nav_album"><a href="/albums">相册</a></li>
                            <li class="active evenflow_scale nav_music"><a href="/music">音乐</a></li>
                            <li class="evenflow_scale nav_message"><a href="/message">留言板</a></li>
                            <li class="evenflow_scale nav_acg"><a href="/ace">二次元</a></li>
                            <li class="evenflow_scale nav_me"><a href="/me">关于我</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <img src="/images/blackHole_1.jpg" style="height: 30px;width: 100%"/>

    <div class="row main" id="dr-main">
        <div class="left" style="width: 10%" id="music_left">
            <ul>
                <li id="li_1" class="music_title">
                    <label><a href="javascript:setDiv('k_on','2096055','1')">k-on</a></label>
                </li>
                <li id="li_2" class="music_title">
                    <div>
                        <a href="javascript:showUl('#li_2')">
                            <label>刀语</label>
                            <span style="margin-left: 30px;">↓</span>
                        </a>
                    </div>
                    <ul class="nav-hide" style="display: none">
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_1')">絶刀・刨</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_2','82116','1')">斩刀・钝</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_3','54840','1')">千刀・铩</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_4','74840','1')" >薄刀・针</a></li>
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_5')">贼刀・铠</a></li>
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_6')">双刀・锤</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_7','59748','1')">悪刀・鐚</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_8','493451','1')">微刀・钗</a></li>
                        <li class="music_li"><a href="javascript:setDiv('daoyu_9','52279','1')">王刀・锯</a></li>
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_10')">誠刀・銓</a></li>
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_11')">毒刀・镀</a></li>
                        <li class="music_li" hidden="hidden"><a href="javascript:setDiv('daoyu_12')">炎刀・铳</a></li>
                    </ul>
                </li>
                <li id="li_3" class="music_title">
                    <label><a href="javascript:setDiv('paranoia','645060894','0')">妄想症</a></label>
                </li>
            </ul>
        </div>
        <div class="right" style="width: 90%" id="music_right">

        </div>

    </div>
    <div id="dr-foot">

    </div>
</div>
</body>
</html>