<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>黑雨的博客</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/evenFlow.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/showBlog.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all"/>
</head>
<body>
<div style="width: 1000px;margin: 0 auto">
    <div class="row title" id="dr-title" style="height: 324px">
        <div id="dr-navigation" style="height: 100%;padding: 20px 0">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav nav-list">
                            <li class="evenflow_scale nav_index"><a href="/">首页</a></li>
                            <li class="active evenflow_scale nav_blog"><a href="/blogs">日志</a></li>
                            <li class="evenflow_scale nav_album"><a href="/albums">相册</a></li>
                            <li class="evenflow_scale nav_music"><a href="/music">音乐</a></li>
                            <li class="evenflow_scale nav_message"><a href="/message">留言板</a></li>
                            <li class="evenflow_scale nav_acg"><a href="/ace">二次元</a></li>
                            <li class="evenflow_scale nav_me"><a href="/me">关于我</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <img src="/images/blackHole_1.jpg" style="height: 30px;width: 100%"/>

    <div class="row main" id="dr-main">
        <div>
            <h3 class="tm-gold-text" style="border-bottom: 1px dashed #ccc;text-align: center;padding-bottom: 10px;"><span id="dr-main-title"></span><br/>
                <time class="smallfont">
                    <i id="dr-main-updateTime"></i>
                </time>
                <span class="smallfont" id="dr-main-look"></span>
                <span class="smallfont" id="dr-main-type"></span>
            </h3>
            <div id="dr-main-text" style="color: #fff;overflow: hidden">

            </div>
            <div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1499074814173"><a href="#"
                                                                                                   class="bds_more"
                                                                                                   data-cmd="more"></a><a
                    href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina"
                                                                                       data-cmd="tsina"
                                                                                       title="分享到新浪微博"></a><a href="#"
                                                                                                              class="bds_tqq"
                                                                                                              data-cmd="tqq"
                                                                                                              title="分享到腾讯微博"></a><a
                    href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin"
                                                                                        data-cmd="weixin"
                                                                                        title="分享到微信"></a></div>
            <script>window._bd_share_config = {
                "common": {
                    "bdSnsKey": {},
                    "bdText": "",
                    "bdMini": "2",
                    "bdMiniList": false,
                    "bdPic": "",
                    "bdStyle": "0",
                    "bdSize": "32"
                },
                "share": {},
                "image": {
                    "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                    "viewText": "分享到：",
                    "viewSize": "24"
                },
                "selectShare": {
                    "bdContainerClass": null,
                    "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
                }
            };
            with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            <br/>
            <br/>
        </div>
    </div>
    <div id="dr-foot">

    </div>
</div>
</body>
</html>