<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>黑雨的博客</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/evenFlow.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="/js/jquery-func.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all" />

</head>
<body>
<div style="width: 1000px;margin: 0 auto">
        <div class="row title" id="dr-title"  style="height: 324px">
            <div class="col-xs-2" id="dr-weather" style="height: 100%">
               <!-- <iframe id="fancybox-frame" name="fancybox-frame1497515593437" frameborder="0" scrolling="no" hspace="0"  src="http://i.tianqi.com/index.php?c=code&amp;a=getcode&amp;id=25&amp;h=100&amp;w=155"></iframe>-->
            </div>
            <div class="col-xs-10" id="dr-navigation"  style="height: 100%;padding: 20px 0">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav nav-list">
                                <li class="active evenflow_scale nav_index"><a href="/">首页</a></li>
                                <li class="evenflow_scale nav_blog"><a href="/blogs">日志</a></li>
                                <li class="evenflow_scale nav_album"><a href="/albums">相册</a></li>
                                <li class="evenflow_scale nav_music"><a href="/music">音乐</a></li>
                                <li class="evenflow_scale nav_message"><a href="/message">留言板</a></li>
                                <li class="evenflow_scale nav_acg "><a href="/ace">二次元</a></li>
                                <li class="evenflow_scale nav_me "><a href="/me">关于我</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <img src="/images/blackHole_1.jpg" style="height: 30px;width: 100%"/>
        <div class="row main" id="dr-main" >
            <div  class="col-xs-8" id="dr-main-right">
                <h3 class="bg">最近更新</h3>
                <div id="dr-main-article">
                </div>
            </div>
            <div class="col-xs-4" id="dr-main-left">
                <h3 class="bg">关于我</h3>
                <div id="dr-logo" style="width: 100%;background: #fff" align="center">
                    <img src="/images/logo.jpg" style="width:200px;height:200px;margin: 10px auto;"/>
                    <div>
                        <span class="logopro span_left">昵称:黑雨</span>
                        <span class="logopro span_right">星座:♒</span>
                        <p class="logopro">座右铭:人生只是一场游戏</p>
                    </div>
                </div>
                <h3 class="bg"></h3>
                <div id="dr-music" style="width: 100%;background: #fff" align="center">
                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="430px" src="//music.163.com/outchain/player?type=1&amp;id=34886518&amp;auto=1&amp;height=430"></iframe>
                </div>
                <h3 class="bg">分享</h3>
                <div class="rnav">
                    <div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1498011684093"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </div>
            </div>
        </div>
        <div id="dr-foot">
            <div id="loginDiv">
                <a href="/login">登录</a>
            </div>
        </div>
    </div>
</body>
</html>

